<div class="log-content">
  <div id ="figure-cuadro"></div>
   <div id="login-logo">
    <img id="spartan-radio-login" src="/images/spartan_image.jpg"/>
  </div>
  <div id ="figure-triangule"></div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div id ="text-login">
    <div id="field-login">
      <div class="position-envelope">
        <label>
          <i style="color:#4E7AC7" class="fa fa-envelope" 0></i>
        </label>
      </div>
      <%= f.email_field :email,class:'input__field input__field--float'  ,id:'input-1',autofocus: true %>
      <div class="label-position-E">
         <label class="input__label input__label--float">
            <span class="input__label-content input__label-content--float">Correo Electrónico</span>
         </label>
      </div>
    </div>
    <div id="field-login">
      <div class="position-lock">
         <label><i style="color:#4E7AC7" class="fa fa-lock" 0></i></label>
      </div>
      <%= f.password_field :password,class:'input__field input__field--float' ,id:'user_password',autocomplete: "off" %>
      <div class="label-position-P">
        <label class="input__label input__label--float">
          <span class="input__label-content input__label-content--float">Contraseña</span>
        </label>

       </div>
    </div>
  </div>
  <div class="clearfix">
    <%= f.submit "Iniciar Sesión",id:'boton-login' %>
  </div>
  <% end %>
  <!-- <%= render "users/shared/links" %> -->
</div>

