<h2>Reenviar instrucciones para desbloquear su cuenta</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Correo_Electronico %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Reenviar" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
