<% @posts.each do |item| %>

  <!-- Primer opcion de post -->
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="post-margin">

      <!-- Tiitulo -->
      <div class="padding-15">
        <h2 class="text-center wrap-overflow"> <%=raw item.titulo %> </h2>
      </div>

      <!-- Imagen -->
      <div class="post-image-wideopen">

      	<!-- Obtengo la primera imagen de mi post -->
				<% imageSrc = ( /img.*?src="(.*?)"/i.match(item.contenido) ).to_s %>

				<% if imageSrc.length > 0 %>
					<% getSrc = ( /src="(.*?)"/i.match(imageSrc) ).to_s[5..-2] %>
					<%= image_tag getSrc, class: 'image-wide grow' %>
				<% else %>
        	<img src="/images/image.png" class="image-wide grow">
				<% end %>

      </div>

      <!-- Cuerpo -->
      <div class="post-overflow">
      	<%# paragraphs = ( /<\s*?p(.*?)>(.*?)<\s*\/\s*p>/.match(item.contenido) ) %>
        <p class="text-center"><%=raw item.contenido %></p>
      </div>
      <!-- Pie de post -->
      <div class="padding-15">
        <span class="autor">Autor</span>
        <span class="nombre-autor"><%= item.user.nombre_usuario %></span>
        <%= link_to "Leer más", post_path(item.id), class: 'cl-effect-1 color-green pull-right' %>

        <% if current_user.present? %>
					<%= link_to edit_admin_post_path(item), class: "cl-effect-13 color-red pull-right" do %>
					  <span>Editar</span>
					<% end %>
        <% end %>

      </div>
      </div>
  </div>
<%  end %>
