<p><%= link_to "Nuevo label", new_admin_label_path, class: "btn btn-primary" %></p>

<%= render 'shared/notice_messages' %>

<table class="table">
  <tr>
    <th>Label</th>
    <td><%= @label.nombre_etiqueta %></td>
  </tr>
</table>

<div class="pull-left">
    <%= link_to "Regresar", admin_labels_path, class: "btn btn-default" %>
    <%= link_to "Editar", edit_admin_label_path(@label), class: "btn btn-success" %>
    <%= link_to "Eliminar", admin_label_path(@label), method: :delete, data: { confirm: 'Estas seguro de eliminar el elemento?' }, class: "btn btn-danger"%>
</div>
<div class="clearfix"></div>

