<p><%= link_to "Nueva categoría", new_admin_category_path, class: "btn btn-primary" %></p>

<% if @categories.blank? %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Información!</strong> Aun no hay elementos en la base de datos.
    </div>
<% else %>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Categoría</th>
          <th width="200px">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |item| %>
          <tr>
            <td><%= item.nombre_categoria %></td>
            <td class="text-center">
              <%= link_to "Mostar", admin_category_path(item), class: "btn btn-xs btn-info" %>
              <%= link_to "Editar", edit_admin_category_path(item), class: "btn btn-xs btn-success" %>
              <%= link_to "Eliminar", admin_category_path(item), method: :delete, data: { confirm: 'x'}, class: "btn btn-xs btn-danger" %>
            </td>
           </tr>
         <% end %>
      </tbody>
     </table>
  </div>

<% end %>
