<div id="sign-up-content">
  <div id ="figure-cuadro"></div>
  <div id="login-logo">
      <img id="spartan-radio-login" src="/images/spartan_image.jpg"/>
  </div>
  <div id ="figure-triangule"></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  <div id ="text-login-up">
    <div class="field-jump">
      <%= f.text_field :nombre ,class:'input__field input__field--float'%>
      <div class="label-position-nombre">
         <label class="input__label input__label--float">
            <span class="input__label-content input__label-content--float">Nombre</span>
         </label>
      </div>
    </div>
    <div class="field-jump">
      <%= f.text_field :apellidoPaterno,class:'input__field input__field--float'%>
      <div class="label-position-paterno">
         <label class="input__label input__label--float">
             <span class="input__label-content input__label-content--float">Apelido paterno</span>
         </label>
      </div>
    </div>
    <div class="field-jump">
      <%= f.text_field :apellidoMaterno,class:'input__field input__field--float'%>
       <div class="label-position-materno">
         <label class="input__label input__label--float">
            <span class="input__label-content input__label-content--float">Apelido materno</span>
         </label>
       </div>
    </div>
    <div class="field-jump">
      <%= f.text_field :fechaNacimiento,class:'input__field input__field--float' %>
      <div class="label-position-nacimiento">
        <label class="input__label input__label--float">
            <span class="input__label-content input__label-content--float">Fecha de nacimiento</span>
         </label>
      </div>
    </div>
    <div class="field-jump">
      <%= f.email_field :email, autofocus: true,class:'input__field input__field--float' %>
      <div class="label-position-E-mail">
        <label class="input__label input__label--float">
            <span class="input__label-content input__label-content--float">Correo electr칩nico</span>
        </label>
      </div>
    </div>
    <div class="field-jump">
      <%= f.password_field :password, autocomplete: "off",class:'input__field input__field--float' %>
      <div class="label-position-password">
        <label class="input__label input__label--float">
          <% if @minimum_password_length %>
            <span class="input__label-content input__label-content--float">contrase침a
              <em>(<%= @minimum_password_length %> caracteres minimo) </em>
              <% end %><br />
            </span>
        </label>
      </div>
    </div>
    <div class="field-jump">
      <%= f.password_field :password_confirmation, autocomplete: "off" ,class:'input__field input__field--float'%>
        <div class="label-position-confirmar-contrase침a">
          <label class="input__label input__label--float">
             <span class="input__label-content input__label-content--float">confirmar contrase침a</span>
         </label>
        </div>
    </div>
    <div class="clearfix">
      <%= f.submit "Sign up" ,id:'boton-login-up' %>
    </div>
    <% end %>
    <!-- <%= render "users/shared/links" %> -->
  </div>
</div>
